@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.container {
  display: flex;
}

.side-header {
  width: 55px;
  height: 92.7vh;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  background: #278df1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.icon {
  padding-left: 15px;
  height: 20px;
  width: 20px;
}

.user-icon-container {
  background-color: #ffffff;
  height: 35px;
  width: 100%;
}

.user-icon {
  padding-top: 5px;
  padding-right: 14px;
  height: 25px;
  width: 25px;
}

.home-container {
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
  height: 100%;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}

.search-container {
  display: flex;
  gap: 20px;
}

.survey-text {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  margin: 0;
}

.search-icon {
  background: transparent url("../../Assets/search.svg") 0% 0% no-repeat;
  height: 26px;
  border: none;
  border-bottom: 1px solid #c4c1c1;
  opacity: 1;
  padding: 0;
}

.search-icon:focus {
  outline: none;
  border-bottom: 1px solid #278df1;
  background: url("../../Assets/search-focus.svg") no-repeat;
}

.sort-container {
  height: 40px;

  display: flex;
  gap: 20px;
}

.sort-icon {
  height: 32px;
  width: 32px;
  margin-top: 4px;
  background: transparent url("../../Assets/sort.svg") 0% 0% no-repeat;
}

.sort-icon:hover {
  background: url("../../Assets/sort-focus.svg") no-repeat;
}
.filter-icon {
  height: 32px;
  width: 32px;

  background: transparent url("../../Assets/filter.svg") 0% 0% no-repeat;
}

.filter-icon:hover {
  background: transparent url("../../Assets/filter-focus.svg") 0% 0% no-repeat;
}

/* .btn-container {
  height: 40px;
  width: 100px;
  
} */

.bar-btn {
  width: 100px;
  height: 30px;
  background: #278df1 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  text-align: center;
  font: normal normal bold 14px/17px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
