.header-container {
  height: 60px;
  width: 100vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  opacity: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.logo-container {
  margin-top: 16px;
  margin-left: 90px;
  text-align: left;
  font: normal normal bold 22px/30px Open Sans;
  letter-spacing: 0.22px;
  color: #35393c;
  opacity: 1;
}

.profile-container {
  margin-top: 16px;
  margin-right: 90px;
  display: flex;
  gap: 12px;
}

.img-container {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  opacity: 1;
}

.arrow-container {
  padding-top: 9px;
  width: 12px;
  height: 7px;
}
