/* .preview-container {
  width: 100%;
  margin: 0;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 140px;
} */

.preview-question-num {
  margin: 0;
  width: 120px;
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0.54px;
  color: #3286dd;
  opacity: 1;
}
